.col-centered{
    display: block;
    text-align: center;
}

.col-sm-5.col-centered {
    margin: 4%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 6px;
}

.container-fluid {
    background-color: #dfd9d3;
}

.news {
    margin-bottom: 5%;
    border: 2px solid grey;
    border-radius: 6px;
}

.col-sm-8 {
    padding-bottom: 5%;
}

.col-sm-5.col-centered h3 {
    display: block;
}

.col-sm-5.col-centered h3 {
    padding-bottom: 4%;
}
